<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Created by Q-Solutions Studio
 *
 * @category    Magespices
 * @package     Magespices_TempAdmin
 * @author      Sebastian Strojwas <sebastian@qsolutionsstudio.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <temp_admin>
            <general>
                <password_length>12</password_length>
                <email_domain>sample.com</email_domain>
            </general>
        </temp_admin>
    </default>
</config>
