<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Created by Q-Solutions Studio
 *
 * @category    Magespices
 * @package     Magespices_TempAdmin
 * @author      Sebastian Strojwas <sebastian@qsolutionsstudio.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="temp_admin" frontName="temp_admin">
            <module name="Magespices_TempAdmin" />
        </route>
    </router>
</config>
